{% extends 'base.html' %}
{% block content %}
<main class="container py-5">
    <section class="card card-body">
    <h1 class="display-1  text-center">Django App</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati cumque nulla, quibusdam dolorum alias veritatis qui sed enim maxime mollitia. Quos nobis velit incidunt reiciendis. Assumenda quos dolor fugiat nobis.
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus eum quasi minima molestias animi illo, temporibus exercitationem, pariatur esse eaque expedita consectetur non impedit, ipsa culpa? Sapiente beatae nesciunt perspiciatis.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro vero maiores fuga nesciunt? Quidem quisquam natus omnis ut, suscipit qui inventore! Nulla quibusdam, molestias aliquam autem ipsum magni consequuntur cum.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam eum temporibus deleniti est eaque, repudiandae totam iste rerum odit culpa soluta, voluptas esse at in quia aperiam. Iste, vitae adipisci?
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo, molestias! Ab ipsum veritatis quos sit ad enim beatae quasi ipsam esse sunt incidunt deserunt accusantium sint assumenda, at optio officiis!
    </p>
    <div class="text-center">
        <a class="btn btn-primary" href="/signin">Signin</a>
        <a class="btn btn-dark" href="/signup">Signup</a>
    </div>
    </section>
</main>
{% endblock %}