{% extends 'base.html' %}

{% block content %}
<main class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4 mt-5">
            <!--<h1 class="">Task Detail</h1>-->
            <h2 class="text-secondary">{{task.title}}</h2>
            {{error}}
            <form method="post" class="card card-body px-2 py-2">
                {% csrf_token %}
                {{form.as_p}}
                <button class="btn btn-primary">
                    Actualizar
                </button>
            </form>
        </div>
    </div>
</main>

{% endblock %}